body {
  margin: 0;
  font-family: sans-serif;
  background: #faf8ef;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 8px;
  padding: 8px;
  background: #bbada0;
  border-radius: 8px;
}

.tile {
  width: 90px;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
  font-weight: bold;

  border-radius: 6px;

  background: #cdc1b4;
}

.value-2 {
  background: #eee4da;
}

.value-4 {
  background: #ede0c8;
}

.value-8 {
  background: #f2b179;
  color: white;
}

.value-16 {
  background: #f59563;
  color: white;
}

.value-32 {
  background: #f67c5f;
  color: white;
}

.value-64 {
  background: #f65e3b;
  color: white;
}

.value-128 {
  background: #edcf72;
}

.value-256 {
  background: #edcc61;
}

.value-512 {
  background: #edc850;
}

.value-1024 {
  background: #edc53f;
}

.value-2048 {
  background: #edc22e;
}